:root{
    --spacing: 5rem;
    --spacing-half: calc(var(--spacing)/2);
    --color-markup: rgb(234,37,255)
}


html{
    background-color: var(--color-markup);
}

body{
    background-color: var(--color-markup);
    overflow: auto;
}

header{
    display: flex;
    margin: var(--spacing);
}

header img{
    --size: 15rem;

    width: var(--size);
    height: var(--size);
    position: relative;
    border-radius: 50%;
    grid-row: span 2;
    margin-left: 50rem;
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12rem;
    color: rgb(86,133,55);
    text-align: center;
    margin-left: 38rem;
}

#login{
    margin-left: 40rem;
}
