:root{
    --spacing: 5px;
    --spacing-half: calc(var(--spacing)/2);
    --color-inside: rgb(30,144,255);
    --color-markup: rgb(0,177,64);
}


html{
    background-color: var(--color-markup);
}

body{
    background-color: var(--color-markup);
    overflow: auto;
}

header{
    display: flex;
    margin: var(--spacing);
    background-color: var(--color-inside);
}

header img{
    --size: 200px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    grid-row: span 2;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
}

header ul {
    list-style-type: disc;
    padding: 10px;
    background-color: var(--color-inside);
    margin-top: 30px;
    margin-bottom: 30px;
}

header li {
    float: inherit;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    
}


