{% extends "template.html" %}
{% block conteudo %}

        <table class="table table-dark table-striped">
            <tr>
                <td >Animal</td>
                <td >Career</td>
                <td >Celebrity</td>
                <td >Dev</td>
            </tr>
            <tr>
                <td >Explicit</td>
                <td >Fashion</td>
                <td >Food</td>
                <td >History</td>
            </tr>
            <tr>
                <td >Money</td>
                <td >Movie</td>
                <td >Music</td>
                <td >Political</td>
            </tr>
            <tr>
                <td >Religion</td>
                <td >Science</td>
                <td>Sport</td>
                <td>Travel</td>
            </tr>
        </table>

        <form action="categories" method="POST">
            <fieldset>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <input type="text" id="categoria" name="categoria" class="form-control">
                        <button type="submit" class="btn btn-primary btn-salvar">Buscar</button>
                    </div>
            </fieldset>  
        </form>
{% endblock %}