body {

    background-image: url("/Challenge_2sem/images/Painel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

iframe {
    width: 150px;
    height: 87px;
    border: 0.5px solid pink;
    background-color: pink;
    margin-left: 55px;
    margin-top: 18px;
    position: absolute;
}
